[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

django-debug-toolbar = "*"
"pep8-naming" = "*"
"flake8-builtins" = "*"
"flake8-commas" = "*"
"flake8-quotes" = "*"
"flake8-blind-except" = "*"
"flake8-bugbear" = "*"
"flake8-comprehensions" = "*"
"flake8-pep3101" = "*"
"flake8-docstrings" = "*"
pytest = "*"
"pytest-flake8" = "*"
pytest-isort = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-xdist = "*"
gitlint = "*"
pre-commit = "*"
xenon = "*"
radon = "*"
pylint = "*"
ipython = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"


[packages]

alabaster = "==0.7.10"
babel = "==2.5.1"
certifi = "==2017.11.5"
chardet = "==3.0.4"
django = "*"
django-ckeditor = "==5.4.0"
django-js-asset = "==0.1.1"
djangorestframework = "==3.7.7"
djangorestframework-jwt = "*"
docutils = "==0.14"
idna = "==2.6"
imagesize = "==0.7.1"
"jinja2" = "==2.10"
markupsafe = "==1.0"
olefile = "==0.44"
pillow = "==4.3.0"
pygments = "==2.2.0"
pyjwt = "==1.5.3"
pytz = "==2017.3"
requests = "==2.18.4"
snowballstemmer = "==1.2.1"
sphinx = "==1.6.6"
sphinxcontrib-websupport = "==1.0.1"
"urllib3" = "==1.22"
django-split-settings = "*"
django-axes = "*"
"psycopg2" = "*"
gunicorn = "*"
unipath = "*"
python-decouple = "*"
django-csp = "*"
dj-database-url = "*"
whitenoise = "*"