alabaster==0.7.10
apipkg==1.4
appnope==0.1.0
arrow==0.10.0
aspy.yaml==1.0.0
astroid==1.6.0
attrs==17.4.0
Babel==2.5.3
cached-property==1.3.1
certifi==2017.11.5
chardet==3.0.4
click==6.6
colorama==0.3.9
coverage==4.4.2
decorator==4.2.1
dj-database-url==0.4.2
Django==1.11.8
django-appconf==1.0.2
django-axes==4.0.1
django-csp==3.3
django-debug-toolbar==1.9.1
django-ipware==2.0.0
django-split-settings==0.3.0
djangorestframework==3.7.7
docutils==0.14
execnet==1.5.0
flake8==3.5.0
flake8-blind-except==0.1.1
flake8-bugbear==17.12.0
flake8-builtins==1.0.post0
flake8-commas==1.0.0
flake8-comprehensions==1.4.1
flake8-docstrings==1.3.0
flake8-pep3101==1.2
flake8-polyfill==1.0.2
flake8-quotes==0.13.0
gitlint==0.9.0
gunicorn==19.7.1
identify==1.0.7
idna==2.6
imagesize==0.7.1
ipython==6.2.1
ipython-genutils==0.2.0
isort==4.2.15
jedi==0.11.1
Jinja2==2.10
lazy-object-proxy==1.3.1
mando==0.6.4
MarkupSafe==1.0
mccabe==0.6.1
nodeenv==1.2.0
ordereddict==1.1
parso==0.1.1
pep8-naming==0.5.0
pexpect==4.3.1
pickleshare==0.7.4
pluggy==0.6.0
pre-commit==1.5.0
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
py==1.5.2
pycodestyle==2.3.1
pydocstyle==2.1.1
pyflakes==1.6.0
Pygments==2.2.0
pylint==1.8.1
pytest==3.3.2
pytest-cache==1.0
pytest-cov==2.5.1
pytest-django==3.1.2
pytest-flake8==0.9.1
pytest-forked==0.2
pytest-isort==0.1.0
pytest-xdist==1.22.0
python-dateutil==2.6.1
python-decouple==3.1
pytz==2017.3
PyYAML==3.12
radon==2.2.0
requests==2.18.4
sh==1.11
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.6
sphinx-autodoc-typehints==1.2.4
sphinxcontrib-websupport==1.0.1
sqlparse==0.2.4
traitlets==4.3.2
Unipath==1.1
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7
whitenoise==3.3.1
wrapt==1.10.11
xenon==0.5.4
